body {
    font-family: Bahnschrift8;
    color: white;
    background-color: #ffffff;
    background-image: url('../resources/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover !important;
}

img {
    border: solid 5px #0A9F2D;
    border-radius: 5px;
}

ol, ul {
    color: #32d70d;
}

#title {
    color: white;
    font-size: 5vw;
    margin-bottom: 15px;
}

#linkhref {
    color: #32d70d;
}

#uppermenu_btn {
    background-color: rgba(0, 0, 0, 0);
    border: solid 3px white;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    font-family: Bahnschrift8;
    padding: 5px 8px;
    margin: 10px;
    margin-left: 5px;
    margin-right: 5px;
    transition: 0.4s;
}

#uppermenu_btn:hover {
    transition: 0.4s;
    background-color: #0A9F2D50;
    margin: 9px;
    padding: 6px 9px;
    color: white;
}

.uppermenu {
    background-color: #156c8000;
    margin-top: 0px;
    border-bottom: solid 2px white;
}

.br {
    display: block;
    margin-bottom: 9px;
}

@font-face {
    font-family: Bahnschrift8;
    src: url("../resources/B8.TTF");
}

.centered {
    margin: auto;
    width: 50%;
    text-align: center;
}

.centered > * {
    text-align: center;
}