@inherits LayoutComponentBase

<div class="page">
    
    <div class="centered">
        <UpperMenu />
        <center>
            <br class="br" />
            <h1 style="font-size:50px">Krokodýli</h1>
            <h3>JUNÁK - český skaut, z.s.</h3>
        </center>
        @Body
    </div>
</div>
