@inherits LayoutComponentBase
    <RadzenDialog/>
    <RadzenNotification/>
    <RadzenContextMenu/>
    <RadzenTooltip/>

    <div class="container">
      <header class="blog-header py-3 border-bottom justify-content-center">
         <UpperMenu/>
      </header>
        <main role="main" class="container" style="min-height: 3840px; margin-top: 30px;">
          <div class="row">

            <div class="blog-main">
              <div class="blog-post text-center">
                @Body
              </div>
            </div>

          </div>

        </main><!-- /.container -->
    </div>

    <footer class="blog-footer">
      <p><a href="https://www.skaut.cz/">JUNÁK - český skaut, z.s.</a></p>
    </footer>
