
@inject WebpageData data
@inject NavigationManager navigation


<div class="top-row ps-12 navbar navbar-dark">
    <div class="container-fluid">
        <div class="navbar-brand">Menu</div>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All" @ref="Index" @onclick="()=>SelectedNavLink=Index">
                <span class="" aria-hidden="true"></span> Domů
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="about-us" Match="NavLinkMatch.Prefix" @ref="AboutUs" @onclick="()=>SelectedNavLink=AboutUs">
                <span class="" aria-hidden="true"></span> O nás
            </NavLink>
            @if(IsSelected(AboutUs)){
                <NavLink class="expand-menu" href="about-us/our-team" Match="NavLinkMatch.Prefix">
                    <span class="" aria-hidden="true"></span> Naše parta
                </NavLink>
                <NavLink class="expand-menu" href="about-us/our-work" Match="NavLinkMatch.Prefix">
                    <span class="" aria-hidden="true"></span> Naše činnost
                </NavLink>
                <NavLink class="expand-menu" href="about-us/where-to-find-us" Match="NavLinkMatch.Prefix">
                    <span class="" aria-hidden="true"></span> Kde nás najdete
                </NavLink>
            }
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="events" Match="NavLinkMatch.Prefix" @ref="Events" @onclick="()=>SelectedNavLink=Events">
                <span class="" aria-hidden="true"></span> Akce
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="summer-camp" Match="NavLinkMatch.Prefix" @ref="SummerCamp" @onclick="()=>SelectedNavLink=SummerCamp">
                <span class="" aria-hidden="true"></span> Tábor
            </NavLink>
            @if(IsSelected(SummerCamp)){
                <NavLink class="expand-menu" href="summer-camp/history" Match="NavLinkMatch.Prefix">
                    <span class="" aria-hidden="true"></span> Historie táborů
                </NavLink>
            }
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="for-members" Match="NavLinkMatch.Prefix" @ref="ForMembers" @onclick="()=>SelectedNavLink=ForMembers">
                <span class="" aria-hidden="true"></span> Pro členy
            </NavLink>
            @if(IsSelected(ForMembers)){
                <NavLink class="expand-menu" href="for-members/chronicles" Match="NavLinkMatch.Prefix">
                    <span class="" aria-hidden="true"></span> Kronika
                </NavLink>
                <NavLink class="expand-menu" href="for-members/scores" Match="NavLinkMatch.Prefix">
                    <span class="" aria-hidden="true"></span> Bodování
                </NavLink>
                <NavLink class="expand-menu" href="for-members/stezka" Match="NavLinkMatch.Prefix">
                    <span class="" aria-hidden="true"></span> Stezka
                </NavLink>
                <NavLink class="expand-menu" href="for-members/accessories-list" Match="NavLinkMatch.Prefix">
                    <span class="" aria-hidden="true"></span> Pomůcky na schůzky a akce
                </NavLink>
                <NavLink class="expand-menu" href="for-members/uniforms" Match="NavLinkMatch.Prefix">
                    <span class="" aria-hidden="true"></span> Kroje
                </NavLink>
                <NavLink class="expand-menu" href="for-members/numbering" Match="NavLinkMatch.Prefix">
                    <span class="" aria-hidden="true"></span> Čísla členů
                </NavLink>
                <NavLink class="expand-menu" href="for-members/second-hand" Match="NavLinkMatch.Prefix">
                    <span class="" aria-hidden="true"></span> Burza
                </NavLink>
            }
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fotogalery" Match="NavLinkMatch.Prefix" @ref="Fotogalery" @onclick="()=>SelectedNavLink=Fotogalery">
                <span class="" aria-hidden="true"></span> Fotogalerie
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="how-to-support-us" Match="NavLinkMatch.Prefix" @ref="HowToSupportUs" @onclick="()=>SelectedNavLink=HowToSupportUs">
                <span class="" aria-hidden="true"></span> Podpořte nás!
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="references" Match="NavLinkMatch.Prefix" @ref="References" @onclick="()=>SelectedNavLink=References">
                <span class="" aria-hidden="true"></span> Odkazy
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="contacts" Match="NavLinkMatch.Prefix" @ref="Contacts" @onclick="()=>SelectedNavLink=Contacts"> 
                <span class="" aria-hidden="true"></span> Kontakt
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" >
                <span class="" aria-hidden="true"></span> URI: @(navigation.Uri)
            </NavLink>
        </div>
    </nav>
</div>

@code {

    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private NavLink? Index, AboutUs, Salamanders, Events, SummerCamp, ForMembers, Fotogalery, HowToSupportUs, References, Contacts;

    private NavLink? SelectedNavLink;

    private bool IsSelected(NavLink? navlink) => SelectedNavLink != null && SelectedNavLink == navlink;

}
