
<div style="margin:auto; width:54%;">
    <ul class="nav nav-pills uppermenu" >
        <li class="nav-item"><a class="nav-link" id="uppermenu_btn" href="index">Domů</a></li>
        <li class="nav-item"><a class="nav-link" id="uppermenu_btn" href="about-us">O nás</a></li>
        <li class="nav-item"><a class="nav-link" id="uppermenu_btn" href="events">Akce</a></li>
        <li class="nav-item"><a class="nav-link" id="uppermenu_btn" href="summer-camp">Tábor</a></li>
        <li class="nav-item">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="uppermenu_btn" href="#"  role="button" aria-haspopup="true" aria-expanded="false">Pro členy</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="about_us/our-work">Naše činnost</a>
                <a class="dropdown-item" href="about_us/our-team">Naše parta</a>
            </div>
        </li>
        <li class="nav-item"><a class="nav-link" id="uppermenu_btn" href="fotogalery">Fotogalerie</a></li>
        <li class="nav-item"><a class="nav-link" id="uppermenu_btn" href="how-to-support-us">Podpořte nás!</a></li>
        <li class="nav-item"><a class="nav-link" id="uppermenu_btn" href="references">Odkazy</a></li>
        <li class="nav-item"><a class="nav-link" id="uppermenu_btn" href="contacts">Kontakt</a></li>
    </ul>
    <center>
        <br class="br" />
        <h1 style="font-size:50px">Krokodýli</h1>
        <h3>JUNÁK - český skaut, z.s.</h3>
    </center>
</div>
@code {

}
