
<div style="margin:auto; width:54%;">
    <nav class="nav nav-pills uppermenu" >
        <a class="nav-link" id="uppermenu_btn" href="index">Domů</a>
        <a class="nav-link" id="uppermenu_btn" href="about-us">O nás</a>
        <a class="nav-link" id="uppermenu_btn" href="events">Akce</a>
        <a class="nav-link" id="uppermenu_btn" href="summer-camp">Tábor</a>
        <a class="nav-link" id="uppermenu_btn" href="for-members">Pro členy</a>
        <a class="nav-link" id="uppermenu_btn" href="fotogalery">Fotogalerie</a>
        <a class="nav-link" id="uppermenu_btn" href="how-to-support-us">Podpořte nás!</a>
        <a class="nav-link" id="uppermenu_btn" href="references">Odkazy</a>
        <a class="nav-link" id="uppermenu_btn" href="contacts">Kontakt</a>
    </nav>
    <center>
        <br class="br" />
        <h1 style="font-size:50px">Krokodýli</h1>
        <h3>JUNÁK - český skaut, z.s.</h3>
    </center>
</div>
@code {

}
