<center>
            <div class="uppermenu">
                <button id="uppermenu_btn" onclick="window.location.assign('index.html')">Domů</button>
                <button id="uppermenu_btn" onclick="window.location.assign('html/onas.html')">O nás</button>
                <button id="uppermenu_btn" onclick="window.location.assign('html/salamanders.html')">Salamanders</button>
                <button id="uppermenu_btn" onclick="window.location.assign('html/akce.html')">Akce</button>
                <button id="uppermenu_btn" onclick="window.location.assign('html/tabor.html')">Tábor</button>
                <button id="uppermenu_btn" onclick="window.location.assign('html/procleny.html')">Pro členy</button>
                <button id="uppermenu_btn" onclick="window.location.assign('html/fotogalerie.html')">Fotogalerie</button>
                <button id="uppermenu_btn" onclick="window.location.assign('html/podpora.html')">Podpořte nás!</button>
                <button id="uppermenu_btn" onclick="window.location.assign('html/odkazy.html')">Odkazy</button>
                <button id="uppermenu_btn" onclick="window.location.assign('html/kontakt.html')">Kontakt</button>
            </div>
            <h1 style="font-size:50px">Krokodýli</h1>
            <h3>JUNÁK - český skaut, z.s.</h3>
</center>

@code {

}
