@page "/events"

<center><h3 id="title">Akce</h3></center>
<iframe src="https://calendar.google.com/calendar/embed?src=krokodyli%40skaut.cz&ctz=Europe%2FPrague" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>

@code {

}
