@page "/fotogalery"

<center><h3 id="title">Fotogalerie</h3></center>

Fotogalerie je umístěna na www.zonerama.com/krokodyli
 
Najdete tam fotky z akcí a táborů, vše je přehledně rozděleno do jednotlivých skautských roků, 
tábory jsou pak v samostatné složce. 
 
Neváhejte a prohlížejte!


Více zde: <a class="linkhref" href="https://krokodyli.webnode.cz/fotogalerie/">https://krokodyli.webnode.cz/fotogalerie/</a>

@code {

}
