@page "/fotogalery-test"

@inject IJSRuntime js
@inject HttpClient http

<div class="container">
    <div class="row">
    <div class="col-lg-12 text-center my-2">
            <h3 class="py-3">Testovací stránka z fotogalerie</h3>
    </div>
    </div>
</div>

<ImageGalleryView Images="@Imgs.AsView()"/>
      




















@code {
    ImageDescriptor[] Imgs = new ImageDescriptor[]
    {
        new ("./resources/KrokodyliLogo.png", "Krokodyli"),
        new ("./resources/KrokodyliLogo.png", "Krokodyli"),
        new ("./resources/bg.jpg", "background"),
        new ("./resources/pozvanka.png", "pozvánka"),
        new ("./resources/zvadlo_novacci2020_web.jpg", "Zvadlo"),
        new ("./resources/KrokodyliLogo.png", "Krokodyli"),
        new ("./resources/bg.jpg", "background"),
        new ("./resources/pozvanka.png", "pozvánka"),
        new ("./resources/zvadlo_novacci2020_web.jpg", "Zvadlo"),
        new ("./resources/KrokodyliLogo.png", "Krokodyli"),
        new ("./resources/bg.jpg", "background"),
        new ("./resources/pozvanka.png", "pozvánka"),
        new ("./resources/zvadlo_novacci2020_web.jpg", "Zvadlo"),
    };

    private async Task evalUrlScript(string url)
    {
        var script = await http.GetStringAsync(url);
        await js.InvokeVoidAsync("eval", script);
    }
}
