@page "/fotogalery/{*event}"

<h2></h2>

<div class="container">
    <div class="row">
    <div class="col-lg-12 text-center my-2">
            <h3 class="py-3">Akce: '@Event'</h3>
    </div>
    </div>
</div>

<ImagePool>
    <ImageGallery Images="@Imgs"/>
</ImagePool>
      





@code {
    [Parameter]
    public string? Event{ get; set; }
    
    ImageDescriptor[] Imgs = new ImageDescriptor[]
    {
        new ("./resources/KrokodyliLogo.png", "Krokodyli"),
        new ("./resources/KrokodyliLogo.png", "Krokodyli"),
        new ("./resources/bg.jpg", "background"),
        new ("./resources/pozvanka.png", "pozvánka"),
        new ("./resources/zvadlo_novacci2020_web.jpg", "Zvadlo"),
        new ("./resources/KrokodyliLogo.png", "Krokodyli"),
        new ("./resources/bg.jpg", "background"),
        new ("./resources/pozvanka.png", "pozvánka"),
        new ("./resources/zvadlo_novacci2020_web.jpg", "Zvadlo"),
        new ("./resources/KrokodyliLogo.png", "Krokodyli"),
        new ("./resources/bg.jpg", "background"),
        new ("./resources/pozvanka.png", "pozvánka"),
        new ("./resources/zvadlo_novacci2020_web.jpg", "Zvadlo"),
    };

}
