@page "/"
@page "/index"

<div>
    <br class="br" />
    <h1 style="font-size:50px">Krokodýli</h1>
    <h3>JUNÁK - český skaut, z.s.</h3>
</div>
<div>
    <p><img src="./resources/zvadlo_novacci2020_web.jpg" alt="Náborový plakát" /></p>
    <bold>SCHŮZKY PROBÍHAJÍ V <a class="linkhref" href="@KlubovnaLocationHyperlink">KLUBOVNĚ VE VELKÉM ZBOŽÍ</a>.</bold>
    <br />
    <p><img src="./resources/pozvanka.png" alt="Pozvánka" /></p>
</div>

@code{
    private const string KlubovnaLocationHyperlink = "https://mapy.cz/zakladni?x=15.1027250&y=50.1599139&z=19&base=ophoto&source=coor&id=15.103049039807956%2C50.15979253572533";
}