@page "/"
@page "/index"
@*
<div>
    <img src="./resources/zvadlo_novacci2020_web.jpg" alt="Náborový plakát" />
    <img src="./resources/KrokodyliLogo.png" alt="dsafds"/>
<div>
    SCHŮZKY PROBÍHAJÍ V <a href="@KlubovnaLocationHyperlink">KLUBOVNĚ VE VELKÉM ZBOŽÍ</a>.
</div>
</div>

*@

@code{
    private const string KlubovnaLocationHyperlink = "https://mapy.cz/zakladni?x=15.1027250&y=50.1599139&z=19&base=ophoto&source=coor&id=15.103049039807956%2C50.15979253572533";
}