@page "/"
@page "/index"
@page "/pages/{*pageName}"

@inject NavigationManager nav

<ErrorBoundary>
    <ErrorContent> 
        <p>Stránka nenalezena: <b>'@ActualPageName'</b></p>
    </ErrorContent>
    <ChildContent>
            <MarkdownFragment PageName="@ActualPageName" ShouldExpandImagesOnClick="@(ShouldExpandImagesOnClick??=true)" />
    </ChildContent>
</ErrorBoundary>




@code {
    [Parameter]
    public string? PageName { get; set; }

    public string ActualPageName => PageName ??= "index";

    [Parameter]
    [SupplyParameterFromQuery(Name = "ClickableImgs")]
    public bool? ShouldExpandImagesOnClick { get; set; } = true;


    private bool firstTimeParametersSet = true;
    protected override void OnParametersSet()
    {
        if (!firstTimeParametersSet)
        {

        }

        firstTimeParametersSet = false;
    }

}
