@page "/pages/{*pageName}"

<ErrorBoundary>
    <ErrorContent> 
        <p>Stránka nenalezena: <b>'@PageName'</b></p>
    </ErrorContent>
    <ChildContent>
        <MarkdownFragment PageName="@PageName"/>
    </ChildContent>
</ErrorBoundary>




@code {
    [Parameter]
    public string? PageName { get; set; }
}
