@page "/about-us/our-team"


<h3>O nás - Naše parta</h3>

<span>
    Counter value: @counter
    <button @onclick="IncBy1">Inc 1</button>
    <button @onclick="IncBy5">Inc 5</button>
</span>

@code {
    int counter = 0;

    void IncBy1() => IncrementCounter(1);
    void IncBy5() => IncrementCounter(5);

    void IncrementCounter(int toAdd)
    {
        counter += toAdd;
    }

}
