@page "/about-us/our-work"


<ImagePool>
    <div class="container text-center">
        <div class="row">
            <h3>Naše činnost</h3>
        </div>
        <div class="row justify-content-center">
            <p>
                Základním kamenem našeho programu jsou oddílové schůzky,
                vlčácké schůzky se konají každý čtvrtek od 17:00 do 18:30 hodin v klubovně na Skupici,
                skauti se scházejí každé úterý od 17:00 do 19:00h v klubovně ve Vekém Zboží.
                Náplní schůzek jsou hry a poznávání okolí opět formou her. 
                Schůzky se odehrávají  v klubovně a v jejím blízkém okolí.
            </p>
            <p><ImageGallery Images="@(new ImageDescriptor[]{new("./resources/pages/about-us--our-work/1a.jpg", "")})"/></p>
            <p>
            Naší další činností jsou akce, které pořádáme zpravidla dvě v měsíci.
            Jedná se o vycházky do přírody, jednodenní i vícedenní výpravy.
            Na výpravy vícedenní (zpravidla třídenní) vyrážíme o podzimních a velikonočních prázdninách.
            </p>
            <p><ImageGallery Images="@(new ImageDescriptor[]{new("./resources/pages/about-us--our-work/2a.jpg",""),new("./resources/pages/about-us--our-work/2b.jpg","")})"/></p>
            <p>Vyvrcholením naší celoroční činnosti je tábor. 
                Na tábor jezdíme většinou v červenci, nicméně někdy nás situace může donutit uspořádat tábor déle, třeba i v srpnu. 
                Tábor si většinou stavíme i bouráme sami, staráme se i o celý jeho chod vlastními silami 
                (vaření, praní, zásobování potravinami...) i když samozřejmě nepohrdneme jakoukoli pomocí rodičů a přátel. 
            </p>
            <p><ImageGallery Images="@(new ImageDescriptor[]{new("./resources/pages/about-us--our-work/3a.jpg",""),new("./resources/pages/about-us--our-work/3b.jpg",""),new("./resources/pages/about-us--our-work/3c.jpg","")})"/></p>
        </div>
    </div>
</ImagePool>

@code {
}
