@page "/about-us-test"

@inject IModalService modals

<h3>O nás</h3>

<TestComponent>
    <Img>
        <Image Descr="@(new ImageDescriptor("./resources/pages/about-us--our-work/1a.jpg",""))"/>
    </Img>
</TestComponent>

<button @onclick="showModal" >Zobrazit</button>

@code {


    private void showModal(){
        var options = new ModalOptions
        {
            HideCloseButton = true,
            Animation = ModalAnimation.FadeIn(1d)
        };
        modals.Show<ONas_Test>("My first modal", options);
    }
}
