@page "/for-members/numbering"

<h3>Pro členy - Čísla členů</h3>
<p class="linkhref">Každé vlče/Každý skaut má všechny své věci označeny číslem, které mu bylo přiděleno.</p>
<div class="container">
    <div class="row">
        <div class="col">[Číslo] [----Člen----]</div>
        <div class="col">[Číslo] [----Člen----]</div>
        <div class="col">[Číslo] [----Člen----]</div>
        <div class="w-100"></div>
        <div class="col">[Číslo] [----Člen----]</div>
        <div class="col">[Číslo] [----Člen----]</div>
        <div class="col">[Číslo] [----Člen----]</div>
        <div class="w-100"></div>
        <div class="col">[Číslo] [----Člen----]</div>
        <div class="col">[Číslo] [----Člen----]</div>
        <div class="col">[Číslo] [----Člen----]</div>
        <div class="w-100"></div>
        <div class="col">[Číslo] [----Člen----]</div>
        <div class="col">[Číslo] [----Člen----]</div>
        <div class="col">[Číslo] [----Člen----]</div>
        <div class="w-100"></div>
        <div class="col">[Číslo] [----Člen----]</div>
        <div class="col">[Číslo] [----Člen----]</div>
        <div class="col">[Číslo] [----Člen----]</div>
        <div class="w-100"></div>
        <div class="col">[Číslo] [----Člen----]</div>
        <div class="col">[Číslo] [----Člen----]</div>
        <div class="col">[Číslo] [----Člen----]</div>
        <div class="w-100"></div>
        <div class="col">[Číslo] [----Člen----]</div>
        <div class="col">[Číslo] [----Člen----]</div>
        <div class="col">[Číslo] [----Člen----]</div>
        <div class="w-100"></div>
        <div class="col">[Číslo] [----Člen----]</div>
        <div class="col">[Číslo] [----Člen----]</div>
        <div class="col">[Číslo] [----Člen----]</div>
        <div class="w-100"></div>
        <div class="col">[Číslo] [----Člen----]</div>
        <div class="col">[Číslo] [----Člen----]</div>
        <div class="col">[Číslo] [----Člen----]</div>
        <div class="w-100"></div>
        <div class="col">[Číslo] [----Člen----]</div>
        <div class="col">[Číslo] [----Člen----]</div>
        <div class="col">[Číslo] [----Člen----]</div>
    </div>
</div>

@code {

}
