@using KrokodyliWeb.Utils
@inject IJSRuntime js


<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" style="max-width: 75vw; max-height: 75vh;">
    <div class="carousel-inner" style="max-width: 100%; max-height: 100%; position: relative;">
    @foreach(var img in ActiveImage.Iterate())
    {var cls = "carousel-item" + (img==ActiveImage ? " active" : "");
            <div class="@cls" style="max-width: 100%; max-height: 100%;">
                <img src="@(img.Value.Source)" class="d-block" style="max-width: 100%; max-height: 100%;" alt="@(img.Value.Alt)">
        </div>   
    }
  </div>
    @if (!IsSimple)
    {
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    }

</div>


@code {
        [Parameter]
        [EditorRequired]
        public ImageList.View ActiveImage { get; set; }

    private bool IsSimple => ActiveImage.IsSimple;


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && !this.IsSimple)
        {
            await js.InvokeAsync<object>("eval", @"
    $('#carouselExampleIndicators').carousel({interval: false});

    //see step 2 to understand these news id's:
    $('.carousel-control-prev').click ( 
            () => $('#carouselExampleIndicators').carousel('prev') );
    $('.carousel-control-next').click ( 
            () => $('#carouselExampleIndicators').carousel('next') );


    let parent = $('#carouselExampleIndicators');
    let resizeEvent = ()=>{
        let w = parent.width();
        let h = parent.height();
        console.log('width: ' + w);
        console.log('height: ' + h);
        $('#carouselExampleIndicators .carousel-item img').attr('style', 'max-width: ' + w + 'px; max-height: ' + h + 'px;');
    };
    resizeEvent();
");
        }
    }
}
