@using KrokodyliWeb.Utils
@inject IModalService modals 


<div class="container">
    <div class="row">
    <div class="col-lg-12 text-center my-2">
            <h3 class="py-3">Testovací stránka z fotogalerie</h3>
    </div>
    </div>

    <div class="portfolio-item row">
        @foreach(var (img, index) in Images.WithIndices())
        {
            <div class="item selfie col-lg-3 col-md-4 col-6 col-sm justify-content-center">
                <img class="img-fluid" src="@(img.Source)" alt="@(img.Alt)" @onclick="()=>PreviewImage(index)">
            </div>
        }
    </div>
</div>
      


@code {
    [Parameter]
    public IEnumerable<ImageDescriptor> Images { get; set; } = Array.Empty<ImageDescriptor>();


    private static readonly ModalOptions ModalOptions = new()
    {
        Animation = ModalAnimation.FadeIn(0.75d),
        HideHeader = true,
        ContentScrollable = true,
        Class="blazored-modal bg-transparent"
    };

    private void PreviewImage(int imageIndex)
    {
        ImageCarousel? c = null;
        var parameters = new ModalParameters();
        parameters.Add(nameof(c.Images), Images);
        parameters.Add(nameof(c.ActiveImageIndex), imageIndex);

        modals.Show<ImageCarousel>("Image preview carousel", parameters, ModalOptions);
    }

}
