@using KrokodyliWeb.Utils
@inject IModalService modals 


<div class="container">

    <div class="portfolio-item row">
        @foreach(var (img, index) in Images.WithIndices())
        {
            <div class="item selfie col-lg-3 col-md-4 col-6 col-sm justify-content-center">
                <img class="img-fluid" src="@(img.Source)" alt="@(img.Alt)" @onclick="()=>PreviewImage(index)">
            </div>
        }
    </div>
</div>
      


@code {
    [Parameter]
    public ImageDescriptor[] Images { get; set; } = Array.Empty<ImageDescriptor>();



    private void PreviewImage(int imageIndex)
    {
        modals.ShowImagePreview(imageIndex, Images);
    }

}
